.portfolio {
  width: 100vw;
  background-color: #050306;
  color: #fff;

}

.portfolio-headings {
  width: 100vw;
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2.5em;
  text-align: center;

}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  width: 30%;
  height: 600px;
  color: #fff;
  background-color: #101e4b;
  margin: 1em;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  height: 200px;
  background-image: url(../imagenes/33.png);
  background-size: cover;
  background-position: center;
}

.card__img1 {
  width: 100%;
  height: 200px;
  background-image: url(../imagenes/44.png);
  background-size: cover;
  background-position: center;
}

.card__img2 {
  width: 100%;
  height: 200px;
  background-image: url(../imagenes/55.png);
  background-size: cover;
  background-position: center;
}

.card__tittle {
  padding: 20px;
  text-align: center;

}

.title__card {
  text-align: center;
}

.projects-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding: 20px;

}

.projects-links a {
  color: #fff;
  text-decoration: none;

}

.projects-links i {
  font-size: 1.5em;

}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;

}

.card .project-details a {
  text-decoration: none;
  color: #191c32;
  text-transform: uppercase;
}

.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.descripcion__portafolios {
  font-size: 0.8em;
  text-align: center;
  padding: 20px;

}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}


@media (max-width: 991px) {


  .portfolio {
    display: flex;
    width: 100vw;
    background-color: #050306;
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .portfolio-headings {
    /* width: 100vw; */
    padding: 5em;
  }

  .portfolio-headings h2 {
    font-size: 2.5em;
    text-align: center;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: auto;
}

.card {
  border: 7px solid #3443a3;
  display: flex;
  width: 80vw;
  height: 70vh;
  color: #fff;
  background-color: #101e4b;
  margin: 1em;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}




}