* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgba(207, 224, 255, 1) 0%, rgba(130, 127, 209, 1) 100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 80px 30px 50px;
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

header .logo {
  width: 15vmax;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  background-color: aqua;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  color: #110011;
}

nav ul li a:hover,
nav ul li a.active {
  background: #d781d7;
  color: #110011;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

#persona2{
  display: none;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  background: linear-gradient(to top, #050306, transparent);
  z-index: 10;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

section #slogan {
  position: absolute;
  color: #110011;
  font-size: 7vmax;
  text-align: center;
  font-family: 'Rancho', sans-serif;
  line-height: 0.8em;
  white-space: nowrap;
  transform: translateY(-200px);
  margin-left: 10vw;
}

section #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  background: #110011;
  border-radius: 20px;
  transform: translateY(20px);
  transform: translateX(60px);
}

section #btn:hover {
  background: #3d003d;
}



.sec h2 {
  font-size: 3.5vw;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.sec h3 {
  font-size: 2vw;
  color: #fff;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #050306;
  color: #fff;
}

/*.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  
  }*/

.brand {
  margin-top: -7px;
}


.brand span {
  color: aqua;

}




.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;

}

.menu .active {
  color: aqua;

}

.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in .4s;
}

main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1 {
  font-size: 3em;
}

span {
  color: aqua;
}

.info-content {
  width: 30vw;
}

#simpsons {

  width: 600px;
  height: 416.72px;
}



.main img {
  border: 7px solid aqua;
  width: 350px;
  height: 520px;
  border: 7px solid aqua;
  z-index: 1;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #3443a3;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-content h2 {
  font-size: 3em;

}

.footer h5 {
  font-size: 1.5em;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;


}


.social-network i {
  font-size: 1.5em;
}

/* AHORA HAREMOS EL RESPONSIVO */
@media (max-width: 991px) {


  #persona{
    display: none;
    
  }
  #persona2{
    display: block;
  }


  section {
    position: relative;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;

  }

  h1 {
    font-size: 1.5em;
}

  section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    pointer-events: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #050306;
  color: #fff;
}

main {
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.info-content {
  width: 60vw;
}

#simpsons {
  margin-top: 20px;
  width: 90vw;
  height: 416.72px;
}



  .sec {
    padding: 60px;
  }

  .sec p {
    font-size: 1em;
  }

  header .menulist {
    opacity: 0;
  }

  nav ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  nav.active ul {
    position: relative;
    top: 50px;
    margin-left: -150px;
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  header .menu {
    position: fixed;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image:  url('../imagenes/lista.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header .menu.active {
    background-image: url('../imagenes/close.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 80px 30px 50px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: flex-start;
    z-index: 2000;
}

header .menu.active {
  background-image: url(../imagenes/close.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

header .menu {
  background-color: #cfe0ff;
  position: absolute;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  }

  .active{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      align-content: center;
  
  }


  nav.active ul {
    
    position: relative;
    top: 50px;
    margin-left: 0px;
    display: flex;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 180px;
}


}
